@font-face
  font-family: 'sell-icon'
  src: url('../fonts/iconfont.eot?t=1502811404983'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1502811404983#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/iconfont.woff?t=1502811404983') format('woff'), /* chrome, firefox */
    url('../fonts/iconfont.ttf?t=1502811404983') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../fonts/iconfont.svg?t=1502811404983#iconfont') format('svg'); /* iOS 4.1- */
  font-weight: normal
  font-style: normal
[class^="icon-"], [class*=" icon-"]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sell-icon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-qrcore:before
  content: "\e612"
.icon-left:before
  content: "\e607"
.icon-right:before
  content: "\e601"
